*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    display: grid;
    gap: 10px;
    grid-template-areas: "header"
                        "main"
                        "footer";
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
}
header{grid-area:header;
    background: hsla(120,100%,25%,0.1);
    padding: 2rem;
    border-radius: 2rem
}

header>div>img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.header-name{
    color: hsla(120,100%,25%,1);
}
.header-name-slogan{
    color: hsla(120,100%,13%,1);
        
}

.set-header{
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: hsla(120,100%,25%,0.1);
    border-radius: 2rem;
    padding: 2rem;
}
nav{grid-area:nav;
}
main{grid-area:main;
}
.services-heading{
    text-align: center;
    
}
.services-name-value-container-container{
    
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.services-name-value-container{
    background-color: hsla(120,100%,25%,0.1);
    padding: 2rem;
    border-radius: 2rem;
    flex:0 0 20rem;
    height: 50rem;
    align-content: center;
    font-weight: 200;
    font-size: larger;
    box-shadow: 0 0 1rem hsla(120,100%,13%,1);
}
.services-name-value-heading-container{
    background:hsla(120,100%,100%,0.8);
    border-radius: 2rem;
    padding: 2rem
}
.services-heading{
    color: hsla(120,100%,25%,1)
}

.services-name{
    color:hsla(120,100%,25%,1);
}
.services-value{
    color: hsla(120,100%,13%,1);
}
span{
    color: hsla(120,100%,25%,1);
}

footer{grid-area:footer;
    border-radius: 2rem;
    background: hsla(120,100%,25%,0.1);
    padding: 2rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    gap: 2rem;
    }
.all-cards-container-and-heading-container{
    border-radius: 2rem;
    background: hsla(120,100%,100%,0.8);
    padding: 2rem;
    width: 100%;
}
.all-contact-cards-heading-container{
    text-align: center;
    padding: 2rem;
    color: green;
}
.all-contact-cards-container{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    text-align: center;
    gap:2rem;
    padding: 2rem;
}

.contact-card-name-and-value-container{
    flex: 0 0 20rem;
    border-radius: 2rem;
    height: 20rem;
    align-content: center;
    overflow-X:auto;
    background: hsla(120,100%,25%,0.1);
    border: 0.1rem solid hsla(120,100%,100%,0.1)
}
.designer-name{
    padding: 2rem;
    background-color: hsla(120,100%,25%,0.1);
    border-radius: 2rem;
    justify-items: center;
    color: hsla(120,100%,13%,1);
}

.contact-card-name{
    padding: 2rem;
    color: hsla(120,100%,25%,1);
}
.contact-card-value{
    padding: 2rem;
    color: hsla(120,100%,13%,1);
}
main{
    background: hsla(120,100%,25%,0.1);
    border-radius: 2rem;
    padding: 2rem;
}
