*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: linear-gradient(whit);
    color:green;
}
body{
    display: grid;
    gap: 10px;
    grid-template-areas: "header header"
                        "nav main"
                        "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    padding: 1rem;
    margin: auto;
}
header{grid-area:header;
    background: green;
}
.header-name{
    color: white;
}

header>div>img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    animation: habsco 0.9s linear infinite;
    
}
@keyframes habsco {
  to { transform: rotate(360deg); }
}

.set-header{
    display: flex;
    gap: 1rem;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
nav{grid-area:nav;
    background: lightgreen
}
main{grid-area:main;
    background: lightgreen;
}

footer{grid-area:footer;
    background: lightgreen;
    }
.contact-details{
    border-radius: 1rem;
    background: white;
    padding: 1rem;
    margin:1rem;
    border: 0.1rem solid green
}
.contact-head{
    text-align: center;
    border-bottom: 0.1rem solid green;
    
}
.contact-container{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    text-align: center;
    gap:1rem;
    padding: 1rem;
    
}
.contact-item{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    background: lightgreen;
    border-radius: 1rem;
}

.contact-name{
    color: green;
    padding: 1rem;
    text-decoration: underline;
}
.contact-value{
    padding: 1rem;
    color: green;
}
header,nav,main,footer{
    border: 0.1rem solid hsla(120,100%,50%,0.1);
    border-radius: 1rem;
    padding: 1rem;
}
