




.mylogo{border-radius:100px;
		height: 100px;
		width: 100px;}


.hue{font-family:sans-serif;
		font-size:50px;}

		


html,body{background:#043927;
		font-family:sans-serif;
		color: white;
		text-align:center;
		margin:0;
		width:100vw;
		height:100vh;
		top:0;
		bottom:0;
		left:0;
		right:0;}
		
		
		

.subheading{border:solid 2px white;
		background-color:#0B6623;
		margin-left:20px;
		margin-right:20px;
		border-radius:30px;
		text-align:center;
		}
		
/*_____Payment Details Whatsapp Link Style_____(Begins Here)_____*/
.payment-whatsapp-link{text-decoration: none;
		color: green;
		background: transparent;}
/*_____Payment Details Whatsapp Link Style_____(Begins Here)_____*/





/*____________________Payment Details Email Link____________________*/
.payment-email-link{text-decoration: none;
					color: green;
					background: transparent;}

		

.airtel-data-prices{padding:30px 30px 30px 30px;
		margin:5px;
		border-radius:30px;
		height:200px;
		width:200px;
		text-align:center;
		border:solid 2px white;
		filter: brightness(100%) saturate(100%) opacity(100%) contrast(100%) blur(0px);
		transform: rotate(0deg);
		}
		
.NetworkLogo{padding:10px;
		margin:20px;
		border-radius:30px;
		height:200px;
		width:200px;
		border:solid 2px white;
		filter: brightness(100%) saturate(100%) opacity(100%) contrast(100%) blur(0px);
		transform: rotate(0deg);
		margin-bottom:100px;}

		
		
.WhatsappChatLogoLink{height:100px;
		width:100px;}
.chat-us{margin-top:200px;
		border-radius:30px;}
		
		
		
	
ol{margin-left:100px;
margin-right:100px;
text-align:justify;}
		
		
		
		
		
.table{padding-top: 5px;
text-align: center;
border: 1px solid black;
justify-content: center;}

/*____________________Data Price Table____________________
Table = abc1
tr = abc2
th = abc3
td = abc4
/*__________________________________________________*/
.abc1,.abc2,.abc4{border:1px solid #3BB143;
			border-collapse:collapse;
			}
.abc1{background-color: #043927;}
.abc3,.abc4{padding: 20px;
	}
.abc3:hover,.abc4:hover{background-color: #3BB143;
				border-color: #0B6623;
				border-radius: 5px;}
		
		
/*____________________Home News Contact About____________________*/
.ul-home-news-contact-about{list-style-type: none;
							margin: 0;
							padding-top: 0;
							overflow: hidden;
							background-color: #3BB143;
							}
.li-home-news-contact-about{float: right;}
.a-home-news-contact-about{display: block;
							color: white;
							text-align: center;
							padding: 20px;
							text-decoration: none;
							background: transparent;
							}
.a-home-news-contact-about:hover{background-color: #043927;
							border-radius: 5px;
							}





/*____________________ Style(C)____________________
Table = c1
tr = c2
td = c3
div = c4
/*__________________________________________________*/
.c1{width: 100%; border: none;}
.c3{border: none;}
.c3,.c4{padding: 20px;}
.c4{display: block;}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	