








/*__________________________________________Body_________________________________________*/	
body{
	background:#3BB143;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	}



/*________________________________________Header_______________________________________*/
header{
	background-color:#043927;
	padding:30px;
	text-align: center;
	font-size: 35px;
	color: white;
	}
		
		

/*________________________________________Main Logo_____________________________________*/
.mylogo{
	border-radius:100px;
	height: 100px;
	width: 100px;
	}

		







/*________________________________Payment Details Whatsapp Link Style________________________*/
.payment-whatsapp-link{
	text-decoration: none;
	color: green;
	background: transparent;
	}


/*__________________________________Payment Details Email Link_______________________________*/
.payment-email-link{
	text-decoration: none;
	color: green;
	background: transparent;
	}

		


		


		
		
.WhatsappChatLogoLink{height:100px;
		width:100px;}
.chat-us{margin-top:200px;
		border-radius:30px;}
		
		
		
	



/*___________________________________________Enrol For Trainings_____________________________*/
.eftul{
	list-style-type: none; 
	}
.eftli{
	padding: 10px;
	font-size: 25px;
	}

/*__________________________________________Utility Bill Payments______________________________*/
.ubpul{
	list-style-type: none;
	}
.ubpli{
	padding: 10px;
	font-size: 25px;
	}





/*______________________________________________________________________________Our Data Price List______________________________________________________________*/
.odpltable,.odplth,.odpltd{
	border:1px solid #3BB143;
	border-collapse:collapse;
	}
.odpltable{
	margin: 100px;
}
.odplth,.odpltd{
	padding: 25px;
	text-align: center;
	}
.odpltd:hover{
	background-color: #3BB143;
	}

/*____ airtel, mtn, glo logo____*/
.logo-inside-data-table,
.airtel-logo-inside-data-table, 
.mtn-logo-inside-data-table, 
.glo-logo-inside-data-table{
	height:50px;
	width:50px;
	border-radius:50px;
	}



/*_____________________________________________________________________Our Cable TV Subscriptions Price List_________________________________________________*/
.octvspltable,.octvsplth,.octvspltd{
	border:1px solid #3BB143;
	border-collapse: collapse;
	}
.octvspltable{
	margin: 100px;
}
.octvsplth, .octvspltd{
	padding: 25px;
	text-align: center;
	}
.octvspltd:hover{
	background-color: #3BB143;
	}



/*____gotv, dstv, logo______*/
.logo-inside-cable-table,
.gotv-logo-inside-cable-table,
.dstv-logo-inside-cable-table{
	height:50px;
	width:50px;
	border-radius: 50px;
	}


/*__________________________________________________div data & cable_____________________________*/
.dacdiv{padding: 20px;
	background-color: #043927;
	display: inline-flex;
	width: 100%;
	}

		
/*___________________________________________________________________________home news about contacts______________________________________________________________*/
.hnacul{
	list-style-type: none;
	background-color: #3BB143;
	}
.hnacli{
	padding: 10px;
	}
.hnaca{
	color: white;
	text-align: center;
	text-decoration: none;
	}
.hnaca:hover{
	background-color: #043927;		
	}


/*______________________________________________footer_________________________________________________________________*/
.footerdiv{
	background-color: #043927;
	padding: 10px;
	text-align: center;
	font-size: 15px:;
	margin-top: 50px;
	}